{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
<title>Tons: article</title>
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'article_detail.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
{% endblock css %}


{% block contents %}
    <div class="article_wrapper">
        <div class="article_body">
            <div class="article_title">“한국 알리려 왔어요”… 방한한 美 중고교 역사교사</div>
            <img src="image/img1.png" alt="">
            <div class="article_text">
                <p>미중 무역전쟁의 여파로 중국의 경기 하방 압력이 커지는 가운데 중국의 올해 예상 대졸자 규모가 역대 최대를 기록해 청년층 취업 문제 해결에 어려움이 따를 수 있다는 우려가 커지고
                    있다.
                    26일 중국 매일경제신문에 따르면 인력자원사회보장부는 올해 여름 대학 졸업자가 834만명으로 역대 최대 규모가 될 것이라면서 이들의 안정적 취업을 위한 지원을 강화하겠다고 밝혔다.
                    <br><br>
                    하지만 최근 중국의 경기 둔화 속도가 빨라지는 추세여서 사회에 갓 진출한 대졸자들이 양질의 일자리를 구하기 위해서는 치열한 경쟁을 거치는 것이 불가피해 보인다.리커창(李克强)
                    총리도 지난
                    5월 고용 안정 관련 회의에서 올해 대졸 예정자가 사상 최다여서 전체 고용 안정에 영향을 미칠 가능성이 있다면서 각 지방정부와 관련 중앙 부처가 철저히 대비하라고 지시한 바 있다.
                    <br><br>
                    미중 무역전쟁이 본격적으로 시작된 작년 중국의 경제성장률은 6.6%로 1989년 톈안먼(天安門) 민주화 시위 유혈 진압 사건의 여파로 중국 경제에 큰 충격이 가해진 1990년
                    3.9%
                    이후 가장 낮은 수준으로 떨어졌다. 올해 들어 추세는 더 나빠지고 있다.연초부터 중국 정부가 2조1천500억 위안 규모의 인프라 투자와 2조 위안 규모의 감세로 경기 둔화에
                    대응하고
                    있지만 올해 1분기와 2분기 경제성장률은 각각 6.4%와 6.2%를 기록하면서 하향 곡선을 그려나가고 있다.
                    <br><br>
                    특히 올해 2분기 경제성장률은 중국이 분기별 경제성장률 통계를 발표한 1992년 이후 27년 만에 가장 낮은 수준이다. 일각에서는 미중 갈등이 추가로 격화하는 최악의 상황을
                    맞는다면 중국
                    정부가 제시한 올해 경제성장률 마지노선인 6.0% 지키기도 어려울 수 있다는 우려가 나오고 있다. 민생과 직결되는 고용 문제는 사회 안정에 직접적인 영향을 준다는 점에서 중국
                    정부는 고용
                    안정 유지를 최우선 정책 목표로 삼고 총력을 다해 대응하고 있다.
                    <br><br>
                    중국 당·정은 연초 열린 중앙경제공작회의에서 올해 역점을 둔 '6가지 안정'(6穩) 목표를 제시하면서 '고용안정'을 가장 먼저 앞세웠다. 또 5월에는 고용안정 정책을 총괄하는
                    '컨트롤
                    타워'인 '취업공작영도소조'를 새로 출범시키기도 했다. 지난 6월을 기준으로 중국 국가통계국이 발표하는 전국 도시 실업률은 5.1%로 아직 중국 정부의 정책 목표인 '5.5%
                    이내'까지는
                    다소 여유가 있는 상태다.
                    <br><br>
                    다만 미중 무역전쟁의 충격파가 먼저 미치는 광둥성 일대의 수출 기업 등을 중심으로 체감 실업률이 높아지고 있다. 또 일각에서는 경기 둔화 여파로 농촌 출신 도시 근로자인
                    농민공(農民工)들이 대거 일자리를 잃고 있지만 이들이 '귀향 창업'을 한 것으로 분류돼 실업률에 제대로 반영이 되지 않고 있다는 지적도 나온다.
                </p>
            </div>
        </div>

        <div class="article_info_container">
            <div class="info_left">
                <img src="" alt="" class="Star">
                <div class="Rectangle">별점주기</div>
            </div>
            <div class="info_right">
                <p>IT</p>
                <p>by 닉네임</p>
            </div>
        </div>
    </div>


    <div class="wrapper2">
        <div class="middle_contents_container">
            <div class="category_container">
                <div class="category_title_1" style="font-size: 36px;"> 톤즈의 기자들이 남긴</div>
                <div class="category_title_1" style="font-size: 36px;"> 13가지 세 줄 요약을 만나보세요.</div>
                <div class="lines">
                    <br><br>
                    <div class="category_text"> 세 줄 남기기 <div class="square"
                            style=" width: 20px;   height: 20px;   background-color: #6f6f6f;"></div>
                    </div>
                </div>
            </div>


            <ul class="category_article">
                <li>
                    <a href="#">
                        <div class="category_article_content">
                            <div class="category_article_textcontainer">
                                <div class="text">
                                    <div class="line_1">수 가치를 수 가치를 꽃이 위하여서. 용기가 말이다.
                                    </div>
                                    <div class="line_2">황금시대의 가는 뛰노는 발휘하기 가치를 봄바람이다.
                                    </div>
                                    <div class="line_3"> 천자만홍이 보이는 아름답고 심장의 봄바람이다.
                                    </div>
                                    <div class="summary_info">
                                        <p>by 닉네임 <span>Jul 25.2019</span></p>
                                    </div>
                                </div>
                            </div>

                            <div class="category_article_othercontainer">
                                <div class="littlebox">
                                    <div class="square"
                                        style=" width: 20px;   height: 20px;   background-color: #6f6f6f;"></div>
                                    <div class="goodbad">좋아요</div>
                                </div>
                                <br>
                                <div class="littlebox">
                                    <div class="vs">VS</div>
                                </div>
                                <br>
                                <div class="littlebox">
                                    <div class="square"
                                        style=" width: 20px;   height: 20px;   background-color: #6f6f6f;"></div>
                                    <div class="goodbad">글쎄요</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="category_article_content">
                            <div class="category_article_textcontainer">
                                <div class="text">
                                    <div class="line_1">수 가치를 수 가치를 꽃이 위하여서. 용기가 말이다.
                                    </div>
                                    <div class="line_2">황금시대의 가는 뛰노는 발휘하기 가치를 봄바람이다.
                                    </div>
                                    <div class="line_3"> 천자만홍이 보이는 아름답고 심장의 봄바람이다.
                                    </div>
                                    <div class="summary_info">
                                        <p>by 닉네임 <span>Jul 25.2019</span></p>
                                    </div>
                                </div>
                            </div>

                            <div class="category_article_othercontainer">
                                <div class="littlebox">
                                    <div class="square"
                                        style=" width: 20px;   height: 20px;   background-color: #6f6f6f;"></div>
                                    <div class="goodbad">좋아요</div>
                                </div>
                                <br>
                                <div class="littlebox">
                                    <div class="vs">VS</div>
                                </div>
                                <br>
                                <div class="littlebox">
                                    <div class="square"
                                        style=" width: 20px;   height: 20px;   background-color: #6f6f6f;"></div>
                                    <div class="goodbad">글쎄요</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="category_article_content">
                            <div class="category_article_textcontainer">
                                <div class="text">
                                    <div class="line_1">수 가치를 수 가치를 꽃이 위하여서. 용기가 말이다.
                                    </div>
                                    <div class="line_2">황금시대의 가는 뛰노는 발휘하기 가치를 봄바람이다.
                                    </div>
                                    <div class="line_3"> 천자만홍이 보이는 아름답고 심장의 봄바람이다.
                                    </div>
                                    <div class="summary_info">
                                        <p>by 닉네임 <span>Jul 25.2019</span></p>
                                    </div>
                                </div>
                            </div>

                            <div class="category_article_othercontainer">
                                <div class="littlebox">
                                    <div class="square"
                                        style=" width: 20px;   height: 20px;   background-color: #6f6f6f;"></div>
                                    <div class="goodbad">좋아요</div>
                                </div>
                                <br>
                                <div class="littlebox">
                                    <div class="vs" >VS</div>
                                </div>
                                <br>
                                <div class="littlebox">
                                    <div class="square"
                                        style=" width: 20px;   height: 20px;   background-color: #6f6f6f;"></div>
                                    <div class="goodbad">글쎄요</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--    같은 기사 다른 요약-->



    <div class="card_container_wrapper">
        <div class="headline">
            <div class="headline_2">IT 관련 다른 기사는 어떠세요?</div>
        </div>
        <div class="card_container">
            <ul>
                <li>
                    <a href="#">
                        <div class="image_container"><img src="image/img1.png" alt="">
                            <div class="article_title">
                                “한국 알리려 왔어요”… 방한한 美 중고교 역사교사
                            </div>
                        </div>
                        <div class="text">
                            <div class="line_1">수 가치를 수 가치를 꽃이 위하여서. 용기가 말이다.
                            </div>
                            <div class="line_2">황금시대의 가는 뛰노는 발휘하기 가치를 봄바람이다.
                            </div>
                            <div class="line_3"> 천자만홍이 보이는 아름답고 심장의 봄바람이다.
                            </div>
                        </div>

                        <div id="writer">
                            <span class="by">by</span>
                            <span class="name">ooo기자</span></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="image_container"><img src="image/img1.png" alt="">
                            <div class="article_title">
                                “한국 알리려 왔어요”… 방한한 美 중고교 역사교사
                            </div>
                        </div>
                        <div class="text">
                            <div class="line_1">수 가치를 수 가치를 꽃이 위하여서. 용기가 말이다.
                            </div>
                            <div class="line_2">황금시대의 가는 뛰노는 발휘하기 가치를 봄바람이다.
                            </div>
                            <div class="line_3"> 천자만홍이 보이는 아름답고 심장의 봄바람이다.
                            </div>
                        </div>

                        <div id="writer">
                            <span class="by">by</span>
                            <span class="name">ooo기자</span></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="image_container"><img src="image/img1.png" alt="">
                            <div class="article_title">
                                “한국 알리려 왔어요”… 방한한 美 중고교 역사교사
                            </div>
                        </div>
                        <div class="text">
                            <div class="line_1">수 가치를 수 가치를 꽃이 위하여서. 용기가 말이다.
                            </div>
                            <div class="line_2">황금시대의 가는 뛰노는 발휘하기 가치를 봄바람이다.
                            </div>
                            <div class="line_3"> 천자만홍이 보이는 아름답고 심장의 봄바람이다.
                            </div>
                        </div>

                        <div id="writer">
                            <span class="by">by</span>
                            <span class="name">ooo기자</span></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="image_container"><img src="image/img1.png" alt="">
                            <div class="article_title">
                                “한국 알리려 왔어요”… 방한한 美 중고교 역사교사
                            </div>
                        </div>
                        <div class="text">
                            <div class="line_1">수 가치를 수 가치를 꽃이 위하여서. 용기가 말이다.
                            </div>
                            <div class="line_2">황금시대의 가는 뛰노는 발휘하기 가치를 봄바람이다.
                            </div>
                            <div class="line_3"> 천자만홍이 보이는 아름답고 심장의 봄바람이다.
                            </div>
                        </div>

                        <div id="writer">
                            <span class="by">by</span>
                            <span class="name">ooo기자</span></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="image_container"><img src="image/img1.png" alt="">
                            <div class="article_title">
                                “한국 알리려 왔어요”… 방한한 美 중고교 역사교사
                            </div>
                        </div>
                        <div class="text">
                            <div class="line_1">수 가치를 수 가치를 꽃이 위하여서. 용기가 말이다.
                            </div>
                            <div class="line_2">황금시대의 가는 뛰노는 발휘하기 가치를 봄바람이다.
                            </div>
                            <div class="line_3"> 천자만홍이 보이는 아름답고 심장의 봄바람이다.
                            </div>
                        </div>

                        <div id="writer">
                            <span class="by">by</span>
                            <span class="name">ooo기자</span></div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--같은 주제 다른 기사-->
{% endblock contents%}
