{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tons: sign up</title>
    <link rel="stylesheet" href="{%static 'css/signup.css'%}">
    <link href="https://fonts.googleapis.com/css?family=DM+Serif+Display:400,400i&display=swap" rel="stylesheet">
</head>

<body>
    <div class="login_wrapper">
        <div class="login_title">Tons</div>
        <form action="" method="post">
            {%csrf_token%}
            <ul>
                <li>
                    <div class="login_sub_title">아이디
                    </div>
                    <div class="login_id"><input type="text" placeholder="아이디" name="username"></div>
                </li>

                <li>
                    <div class="login_sub_title">이메일
                    </div>
                    <div class="login_email"><input type="text" placeholder="이메일" name="email"></div>
                </li>
                <li>
                    <div class="login_sub_title">비밀번호
                    </div>
                    <div class="login_password"><input type="password" placeholder="비밀번호" name="password"></div>
                </li>
                <li>
                    <div class="password_cont">
                        <div class="login_sub_title">비밀번호 확인</div>
                        <div class="red">8 글자 이상을 입력하세요.</div>
                    </div>
                    <div class="login_password_confirm"><input type="password" placeholder="비밀번호 확인"
                            name="psudo_password"></div>
                </li>
            </ul>
            <div class="password_not">패스워드가 일치하지 않습니다.</div>
            <div><input type="submit" value="가입하기" class="login_login"></div>
        </form>
    </div>
</body>

</html>