{% load staticfiles %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block title %}
    {% endblock title %}

    <link rel="stylesheet" type="text/css" href="{%static 'base.css'%}">
    {% block css %}
    {% endblock css %}

</head>

<body>

    <header>
        <!--마이페이지, 설정 버튼 및 배너(또는 로고)-->
    </header>

    <div class="body">
        {% block contents %}
        
        {% endblock contents %}
    </div>

    <footer>
        <!-- 푸터 -->
    </footer>

</body>

</html>