{% load staticfiles %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block title %}
    {% endblock title %}

    <link rel="stylesheet" type="text/css" href="{%static 'base.css'%}">
    
    {% block css %}
    {% endblock css %}

</head>

<body>

    <header>
        <div class="header_container">
            <div class="header_container_nav">
                <div class="logo_tons"></div>

                <nav>
                    <ul>
                        <li class="logo_pen"></li>
                        <li>시작하기
                        </li>
                        <li>마이페이지</li>
                    </ul>
                </nav>

            </div>
        </div>
    </header>

    <div class="body">
        {% block contents %}

        {% endblock contents %}
    </div>


</body>

</html>