{% extends 'base.html' %}
{% load staticfiles %}

    {% block title %}
    <title>Tons</title>
    {% endblock title %}

    {% block css %}
    <link rel="stylesheet" href="{%static 'css/mypage.css'%}">
    {% endblock css %}

    {% block contents %}
    <div class="wrapper">
            <div class="mypage_container">
                <div class="mypage_title_1">
                   더 많은 주제를 구독하세요.</div>

                <div class="mypage_title_2">당신이 선택한 톤즈의</div>

                <div class="mypage_title_3">주제.</div>
            </div>
            
            <div class="box_container">
                <ul>
                    {% for category in user_cat_list %}
                    <li><a href="{% url 'category:cat_detail' category.id %}">{{category.name}}</a></li>
                    {% endfor %}
                </ul>
                
            </div>
    </div>
    <!--당신의 주제를 선태하세요 -->
    
    
    <div class="wrapper">
            <div class="offer_container">
                <div class="offer_title_1">
                   이런 주제는 어떠세요.</div>

                <div class="offer_title_2">톤즈가 당신에게 제안합니다.</div>

                <div class="offer_title_3">we offer you more knowledge.</div>
            </div>
            
            <div class="offer_box_container">
                <ul>
                    {% for category in other_cat_list %}
                    <li><a href="{% url 'category:cat_detail' category.id %}">{{category.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
    </div>
   
   {% endblock contents %}