body {
    margin: 0;
    overflow-x: hidden;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000;
}


/*기본 값*/

.text{
    width: 424px;
}


.line_1,
.line_2,
.line_3 {
    font-family: 'Song Myung', serif;
    font-size: 1rem;
    color: #000000;
    text-align: left;
    opacity: 0.87;
    
    height: 20px;
    overflow: hidden;
    
}

.line_2,
.line_3 {
    line-height: 20px;
    margin-top: 15px;
}


.line_4,
.line_5,
.line_6 {
    font-family: 'Song Myung', serif;
    font-size: 1rem;
    color: #000000;
    text-align: left;
    opacity: 0.87;
    
    height: 20px;
    overflow: hidden;
    
}

.line_5,
.line_6 {
    line-height: 20px;
    margin-top: 8px;
}

#writer {
    margin-left: 24px;
}


#writer .by {
    opacity: 0.6;
    font-family: 'DM Serif Display', serif;
    font-style: italic;
    font-size: 14px;
    letter-spacing: 0;
}

#writer .name {
    opacity: 0.6;
    font-family: 'Noto Sans KR', serif;
    font-size: 14px;
    color: #000000;
    letter-spacing: 0;
}



/*세줄 요약*/


header {
    width: 100%;
}

.header_container {
    width: 90%;
    height: 80px;

    margin: 0 auto;

    display: flex;
    align-items: center;
    /*    세로 가운데정렬*/
}

.header_container_nav {
    width: 100%;
    margin: 0 118px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_tons {
    width: 30px;
    height: 30px;
    background-color: #6f6f6f;
}


nav ul {
    margin: 0;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;

}

nav ul li {
    text-align: right;
    opacity: 0.6;
    font-family: 'Noto Sans KR', serif;
    font-size: 1rem;
}

nav ul li:nth-child(1) {
    margin-left: 8px;
}

nav ul li:nth-child(2) {
    padding-left: 64px;
}

.logo_pen {
    width: 20px;
    height: 20px;
    background-color: #6f6f6f;
}




/* header */

.wrapper {
    width: 960px;
    margin: 0 auto;
}


.upper_contents_container {
    margin: 64px 0;
    display: flex;
    justify-content: space-between;
}

.title_1 {
    font-family: 'Song Myung', serif;
    font-size: 40px;
    color: #000000;
    letter-spacing: -0.9px;

    padding-bottom: 28px;

    height: 40px;
}

.title_2 {
    opacity: 0.6;
    font-family: 'Song Myung', serif;
    font-size: 36px;
    color: #000000;
    letter-spacing: -0.81px;

    height: 36px;
}

.title_3 {
    opacity: 0.6;
    font-family: 'DM Serif Display', serif;
    font-style: italic;
    font-size: 36px;
    color: #000000;
    letter-spacing: -0.81px;

    height: 55px;
    padding-top: 8px;
}

.illust_container {
    width: 354px;
    height: 162px;
    opacity: 0.25;
    background: #D8D8D8;
}

/* 소개멘트 ,일러스트 - upper_contents_container*/



.card_container_wrapper {
    width: 960px;
    margin: 0 auto;

    padding-bottom: 88px;
    position: relative;
}




.card_container ul {
    display: flex;
    flex-direction: row;
    overflow: visible;
}

.card_container li {
    width: 472px;
    height: 468px;
    margin-right: 16px;
    background: #FFFFFF;
    box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
}

.card_container .image_container {
    position: relative;
}

.card_container .article_title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 424px;
    
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 24px;


    font-family: 'Noto Sans KR', serif;
    font-size: 20px;
    color: #000000;
    letter-spacing: -0.3px;
    text-align: left;

    opacity: 0.6;
}


.card_container .text {
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 18px;
    margin-bottom: 10px;
}

/* hot news - card_container*/


.middle_contents_container {
    padding-top: 80px;
    padding-bottom: 8px;

}

.category_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.category_title_1 {
    opacity: 0.87;
    font-family: 'Song Myung', serif;
    font-size: 18px;
    color: #000000;
    letter-spacing: -0.3px;
}

.category_title_2 {

    opacity: 0.6;
    font-family: 'DM Serif Display', serif;
    font-style: italic;
    font-size: 13px;
    color: #000000;
    padding-top: 6px;
}

.category ul {
    display: flex;
    padding-top: 48px;
}

.category ul li {
    opacity: 0.6;
    font-family: 'DM Serif Display', serif;
    font-size: 14px;
    color: #000000;
    letter-spacing: 0;

    padding: 0 28px;
}

.category_article {
    padding-top: 48px;
    width: 723px;
    margin: 0 auto;
}

.category_article li {
    height: 194px;
    background: #FFFFFF;
    box-shadow: 1px 4px 12px 0 rgba(0, 0, 0, 0.08);

    margin-bottom: 32px;
}

.category_article_content {
    height: 130px;
    display: flex;
    padding: 32px 24px;
} 

.category_article_textcontainer {
    padding-left: 24px;
}

.catebory_article_title {
    font-family: 'Noto Sans KR', serif;
    font-size: 20px;
    color: #000000;
    letter-spacing: -0.3px;
    text-align: left;

    opacity: 0.6;
}

.category_article_textcontainer .text {
    padding-top: 15px;
}

.category_article_othercontainer {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.category_article_othercontainer #category_category {
    padding-top: 4px;
    opacity: 0.6;
    font-family: 'DM Serif Display', serif;
    font-size: 14px;
    color: #000000;
}

.category_article_othercontainer #writer {
    padding-top: 88px;
}

/* 모션 추가  */

.page_num_cont {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.page_num {
    display: flex;
    padding-top: 60px;
}

.dot {
    font-family: 'DM Serif Display';
    font-size: 16px;
    color: #000000;
    letter-spacing: 0;
    opacity: 0.25;

    padding-left: 12px;
    padding-right: 12px;
}

.page_num li:hover {
    opacity: 0.87;
    -webkit-transition: opacity: 0.87;
    -moz-transition: opacity: 0.87;
    -ms-transition: opacity: 0.87;
    -o-transition: opacity: 0.87;

    -webkit-transition: all 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -moz-transition: all 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -o-transition: all 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    transition: all 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    /* ease-in-out */

    -webkit-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -moz-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -o-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
    transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

.button {
    position: absolute;
    width: 56px;
    height: 56px;
    background-color: gray;
    color: white;
    font-size: 25px;
    display: flex;
    align-items: center;
}


.left {
    left: -30%;
    top: calc(50% - 80px);
    transform: translateY(-50%);

}

.right {
    right: -30%;
    top: calc(50% - 80px);
    transform: translateY(-50%);
}

.active {
    opacity: 0.87;
}

.img_wrap_1 {
    overflow: hidden;

    width: 100%;
    height: 290px;
}

.img_wrap_2 {
    overflow: hidden;

    width: 130px;
    height: 130px;
}

#writer_123 {
    margin-left: 16px;
}


#writer_123 .by {
    opacity: 0.6;
    font-family: 'DM Serif Display', serif;
    font-style: italic;
    font-size: 14px;
    letter-spacing: 0;
}

#writer_123 .name {
    opacity: 0.6;
    font-family: 'Noto Sans KR', serif;
    font-size: 14px;
    color: #000000;
    letter-spacing: 0;
}

.opacity {
    opacity: 0;
}

.fadein {
    opacity: 0;
    margin-top: 40px;
}

.show {
    margin-top: 0;
    opacity: 1;
    -webkit-transition: all 700ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -moz-transition: all 700ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -o-transition: all 700ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    transition: all 700ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

.show2 {
    margin-top: 0;
    opacity: 0.6;
    -webkit-transition: all 700ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -moz-transition: all 700ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -o-transition: all 700ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    transition: all 700ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}





/* 페이지 로드*/
.winLoadBefore {
    margin-left: -56px;
    opacity: 0;
}

.winLoad_1 {
    margin-left: 0;

    -webkit-transition: all 700ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -moz-transition: all 700ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -o-transition: all 700ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    transition: all 700ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

.winLoad_2 {
    transform: translateX(0px);

    -webkit-transition: all 900ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -moz-transition: all 900ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -o-transition: all 900ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    transition: all 900ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

.winLoad_3 {
    margin-left: 0;

    -webkit-transition: all 1000ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -moz-transition: all 1000ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -o-transition: all 1000ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    transition: all 1000ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}


.windLoadBefore_2 {
    margin-top: 40px;
    opacity: 0;
}

.winLoad_test {
    margin-top: 0;
    opacity: 1;

    -webkit-transition: all 700ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -moz-transition: all 700ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -o-transition: all 700ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    transition: all 700ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

.page_num_load {
    opacity: 1;

    -webkit-transition: all 1500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -moz-transition: all 1500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -o-transition: all 1500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    transition: all 1500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}
.page_num_before{
    opacity: 0;
}

.button_load{
     opacity: 1;

    -webkit-transition: all 1500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -moz-transition: all 1500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -o-transition: all 1500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    transition: all 1500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

.button_before{
    opacity: 0;
}

.category_title_before{
    opacity: 0;
}

  .category_title_load{
    opacity: 1;

    -webkit-transition: all 1500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -moz-transition: all 1500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -o-transition: all 1500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    transition: all 1500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

.underline {
    background-image: linear-gradient(to right, #FFE4C2, #FFE4C2);
    background-size: 0 100%;

    background-repeat: no-repeat;
    transition: background, 0.6s;
    display: inline-block;

    background-position: 0 0.75em;

}

.hovered {
    background-image: linear-gradient(to right, #FFE4C2, #FFE4C2);
    background-size: 100% 100%;

    background-repeat: no-repeat;
    transition: background, 0.6s;
    display: inline-block;

    background-position: 0 0.75em;

}

.underline {
    background-image: linear-gradient(to right, #FFE4C2, #FFE4C2);
    background-size: 0 100%;

    background-repeat: no-repeat;
    transition: background 0.6s;
    display: inline-block;

    background-position: 0 0.75em;

}

.hovered {
    background-image: linear-gradient(to right, #FFE4C2, #FFE4C2);
    background-size: 100% 100%;

    background-repeat: no-repeat;
    transition: background 0.6s;
    display: inline-block;

    background-position: 0 0.75em;

}

.hoveredDown{
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);

    box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);

    -webkit-transition: all 300ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -moz-transition: all 300ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -o-transition: all 300ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    transition: all 300ms cubic-bezier(0.420, 0.000, 0.580, 1.000);

    -webkit-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -moz-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -o-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
    transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

.hoveredUp{
    transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -o-transform: translateY(-8px);

    box-shadow: 2px 8px 16px 0 rgba(0, 0, 0, 0.1);

    -webkit-transition: all 300ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -moz-transition: all 300ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -o-transition: all 300ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    transition: all 300ms cubic-bezier(0.420, 0.000, 0.580, 1.000);


    -webkit-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -moz-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -o-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
    transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

.nomore1 {
    display: flex;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 120px;
    font-family: 'Noto Sans KR';
    font-size: 16px;
    color: #000000;
    letter-spacing: -0.36px;
    text-align: center;
    line-height: 16px;
}
