body {
    margin: 0;
    overflow-x: hidden;
    background: rgba(244, 244, 244, 0.80);
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000;
}

input {
    margin: 0;
    padding: 24px 32px;
    border: 0;
    opacity: 0.38;
    font-family: 'Noto Sans KR';
    font-size: 16px;
    color: #000000;
    letter-spacing: 0;
    height: 32px;
    width: calc(100% - 64px);
}


/*        기본 */
.login_wrapper {
    width: 487px;
    display: flex;
    flex-direction: column;
}

.login_title {
    width: 110px;
    height: 72px;
    margin: 0 auto;

    opacity: 0.87;
    font-family: 'DM Serif Display', serif;
    font-style: italic;
    font-size: 52px;
    color: #000000;
    letter-spacing: 0;

    padding-bottom: 66px;

}

.login_id,
.login_password {
    width: 100%;
    height: 80px;
    margin-top: 16px;
    
    background: #FFFFFF;
}

.login_login {
    background-color: #1D1D1D;
    width: 100%;
    height: 80px;

    margin-top: 40px;

    color: white;

    font-family: 'Noto Sans KR', sans-serif;
    font-weight: Bold;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login_other {
    width: 100%;
}

.login_other ul {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    width: 100%;

}

.login_other ul li * {
    opacity: 0.6;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0;
}

.login_other ul li span {
    padding-right: 44px;
}

.login_wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
}
