/* 기본 사이즈 */
header{
    width: 100%;
    /* 아래는 테스트용 */
    height: 50px;
    background-color: black;
}
.body { 
    /* <div class="body"></div> 안에 내용 넣기 */
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    /* 아래는 테스트용 height: auto; 로 하기?*/
    height: 100px; 
    background-color: gray;
    margin-bottom: 20px;
    margin-top: 20px;
}
footer{
    width:100%;
    /* 아래는 테스트용 */
    height: 50px;
    background-color: black;
}