body {
    margin: 0;
    overflow-x: hidden;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000;
}


/*기본 값*/

.text .line_1,
.line_2,
.line_3 {
    font-family: SongMyung-Regular;
    font-size: 1rem;
    color: #000000;
    text-align: left;
    opacity: 0.87;
}

.text .line_2,
.line_3 {
    padding-top: 15px;
}

#writer {
    padding-left: 0;
    padding-top: 16px;
}

#writer .by {
    opacity: 0.6;
    font-family: DMSerifDisplay-Regular;
    font-size: 14px;
    letter-spacing: 0;
}

#writer .name {
    opacity: 0.6;
    font-family: NotoSansKR-Light;
    font-size: 14px;
    color: #000000;
    letter-spacing: 0;
}


/*세줄 요약*/


header {
    width: 100%;
}

.header_container {
    width: 1400px;
    height: 80px;

    margin: 0 auto;

    display: flex;
    align-items: center;
    /*    세로 가운데정렬*/
}

.header_container_nav {
    width: 100%;
    margin: 0 118px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_tons {
    width: 30px;
    height: 30px;
    background-color: #6f6f6f;
}


nav ul {
    margin: 0;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;

}

nav ul li {
    text-align: right;
    opacity: 0.6;
    font-family: NotoSansKR;
    font-size: 1rem;
}

nav ul li:nth-child(1) {
    margin-left: 8px;
}

nav ul li:nth-child(2) {
    padding-left: 64px;
}

.logo_pen {
    width: 20px;
    height: 20px;
    background-color: #6f6f6f;
}


/* header */

.wrapper {
    width: 960px;
    margin: 0 auto;
}


.mypage_title_1 {
    opacity: 0.87;
    font-family: 'Song Myung';
    font-size: 40px;
    color: #000000;
    letter-spacing: -0.9px;

    padding-top: 90px;
}

.mypage_title_2,
.mypage_title_3 {
    opacity: 0.6;
    font-family: 'Song Myung';
    font-size: 36px;
    color: #000000;
    letter-spacing: -0.81px;
}

.mypage_title_2 {
    padding-top: 32px;
}

.box_container {
    width: 600px;
}

.box_container ul {
    display: flex;
    flex-wrap: wrap;

    padding-top: 64px;
}

.box_container ul li {
    opacity: 0.6;
    font-family: 'Song Myung';
    font-size: 18px;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
    line-height: 82px;


    height: 82px;

    background: #FFFFFF;
    border: 1px solid rgba(151, 151, 151, 0.60);

    margin-right: 16px;
    margin-bottom: 16px;
}

.box_container ul li:first-child {
    width: 176px;
}

.box_container ul li:nth-child(2n+1) {
    width: 196px;
}

.box_container ul li:nth-child(2n) {
    width: 144px;
}

/*위에박스 */

.offer_container {
    padding-top: 156px;

    text-align: center;
}

.offer_title_1 {
    opacity: 0.6;
    font-family: 'Song Myung';
    font-size: 36px;
    color: #000000;
    letter-spacing: -0.81px;

}

.offer_title_2 {
    opacity: 0.6;
    font-family: 'Song Myung';
    font-size: 18px;
    color: #000000;
    letter-spacing: -0.81px;

    padding-top: 24px;
}

.offer_title_3 {
    opacity: 0.6;
    font-family: 'DM Serif Display';
    font-style: 'Italic';
    font-size: 13px;
    color: #000000;
    text-align: center;
}

.offer_box_container{
    width: 596px;
    margin: 0 auto;
    padding-top: 64px;
}

.offer_box_container ul{
    display: flex;
    flex-wrap: wrap;
}

.offer_box_container ul li {
    opacity: 0.6;
    font-family: 'Song Myung';
    font-size: 18px;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
    
    line-height: 82px;
    height: 82px;

    background: #FFFFFF;
    border: 1px solid rgba(151, 151, 151, 0.60);

    margin-bottom: 16px;
    margin-left: 8px;
    margin-right: 8px;
}

.offer_box_container ul li:first-child {
    width: 176px;
}

.offer_box_container ul li:nth-child(2n+1) {
    width: 180px;
}

.offer_box_container ul li:nth-child(2n) {
    width: 144px;
}

